body {
  height: 100vh;
}

.maincontainer {
  background-color: blue;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr;
  height: 100%;
  width: 100%;
}

.navigation {
  background-color: red;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  display: grid;
  grid-template-rows: repeat(3, 1fr) 8fr;
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  font-weight: normal;
}

.option img {
  height: 25px;
}

.option:hover {
  color: lightgrey;
  cursor: pointer;
}

.projects {
  display: grid;
  grid-template-rows: 40px repeat(15, 1fr);
  grid-template-columns: 1fr;
  justify-items: center;
  font-size: 30px;
  font-weight: bold;
}

.project-window-container {
  position: fixed;
  top: 20%;
  left: 35%;
  width: 40vw;
  height: auto;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

.project-button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;
  padding: 10px;
}

.project-button-container button {
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  border: none;
}

.project {
  font-weight: normal;
  font-size: 18px;
}

.project:hover {
  color: lightgray;
  cursor: pointer;
}

.add {
  background-color: rgb(0, 171, 102);
  color: white;
}

.add:hover {
  background-color: green;
  cursor: pointer;
}

.cancel {
  background-color: #f44336;
  color: white;
}

.cancel:hover {
  background-color: red;
  cursor: pointer;
}

.project-window-container input {
  width: 98%;
}

.project-window-container div {
  font-size: 24px;
}

.todo-content {
  display: grid;
  grid-template-rows: 10vh 1fr;
  grid-column-start: 2;
}

.project-name-container {
  align-self: center;
  margin-left: 10px;
}

.project-title {
  color: white;
  font-size: 40px;
  margin-bottom: 10px;
}

.proj-description {
  color: white;
}
