:root {
  --grey-color: #535b59;
  --dark-green: #53744c;
  --light-green: #73ab5b;
}

body {
  height: 100vh;
}

.maincontainer {
  background-color: var(--grey-color);
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr;
  height: 100%;
  width: 100%;
}

.navigation {
  background-color: var(--dark-green);
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  display: grid;
  grid-template-rows: 1fr 8fr;
  color: white;
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  font-weight: normal;
}

.option img {
  height: 25px;
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(212deg)
    brightness(109%) contrast(102%);
}

.option:hover {
  filter: invert(76%) sepia(4%) saturate(23%) hue-rotate(314deg)
    brightness(113%) contrast(90%);
  cursor: pointer;
}

.projects {
  display: grid;
  grid-template-rows: 40px repeat(15, 1fr);
  grid-template-columns: 1fr;
  justify-items: center;
  font-size: 30px;
  font-weight: bold;
}

.project-window-container {
  position: fixed;
  top: 20%;
  left: 35%;
  width: 40vw;
  height: auto;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  border: 4px solid;
  border-color: var(--light-green);
}

.project-button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;
  padding: 10px;
}

.project-button-container button {
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  border: none;
}

.project {
  font-weight: normal;
  font-size: 18px;
}

.project:hover {
  color: lightgray;
  cursor: pointer;
}

.add,
.add-button {
  background-color: rgb(0, 171, 102);
  color: white;
}

.add:hover {
  background-color: green;
  cursor: pointer;
}

.cancel,
.cancel-button {
  background-color: #f44336;
  color: white;
}

.cancel:hover {
  background-color: red;
  cursor: pointer;
}

.active {
  font-weight: 900;
}

.project-window-container input {
  width: 98%;
}

.project-window-container div {
  font-size: 24px;
}

.todo-content {
  display: grid;
  grid-template-rows: 10vh 1fr;
  grid-column-start: 2;
}

.project-name-container {
  align-self: center;
  margin-left: 10px;
}

.project-title {
  color: white;
  font-size: 40px;
  margin-bottom: 10px;
}

.proj-description {
  color: white;
}

.todo-items {
  background-color: var(--grey-color);
}

.add-circle {
  border: 3px solid #73ab5b;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: white;
  margin-left: 10px;
}

.add-circle:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.item {
  background-color: white;
  height: 100px;
  border-radius: 30px;
  margin: 10px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  gap: 15px;
  outline: 3px solid;
  outline-color: var(--dark-green);
}

.item:hover {
  transform: scale(1.01);
}

.task-input {
  margin-left: 30px;
  height: 30%;
  font-size: 30px;
}

.date-input {
  height: 30%;
  font-size: 18px;
}

.time-input {
  height: 30%;
}

.cancel-button,
.add-button {
  border-radius: 10px;
  height: 30%;
  border: none;
  cursor: pointer;
  font-size: 24px;
}

.cancel-button {
  margin-right: 10px;
}
